<div class='home'>
  <p>url is {{url}}</p>
  <p>ua is {{ua}}</p>
  <button onclick='increment()'> increment </button>
  <p id='count'>0</p>
  <button onclick='decrement()'> decrement </button>
</div>
